.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.step {
    flex: 1 0 35px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    user-select: none;
}

.laststep {
    composes: step;
    flex-grow: 0;
}
