.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.step {
    flex: 1 0 35px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    user-select: none;
}

.last-step {
    composes: step;
    flex-grow: 0;
}

.circle {
    flex: 0 0 25px;
    border: 5px solid black;
    border-radius: 50%;
    height: 25px;
    cursor: pointer;
}

.line {
    flex: 1;
    height: 5px;
}
